VITE_SUPABASE_URL=https://mxxaxhrtccomkazpvthn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14eGF4aHJ0Y2NvbWthenB2dGhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMjQ5OTEsImV4cCI6MjA4ODgwMDk5MX0.RGhIU3C4WUCc6YBXktmXRXLT_wdrEbErKcd9VsFuE-8

SUPABASE_URL=https://mxxaxhrtccomkazpvthn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14eGF4aHJ0Y2NvbWthenB2dGhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIyNDk5MSwiZXhwIjoyMDg4ODAwOTkxfQ.KtZfSdvLe0EKBQRf9m7UyXBDTTYaOUGs-ZoWtHoxHpI
VITE_GEMINI_API_KEY=AIzaSyBP_lAnFz0pwDuzrsQBDkuc7tMjm9L8f8s


GEMINI_API_KEY=AIzaSyC9pda88kTF2Gpdj4geMB68OUEHUotcX8U

FOURSQUARE_API_KEY=BPLLMRTI0GY4CUWBAWZ55POXBG2LPMXN5QSBBBIPJAJJXTTVV
